<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <type name="Magento\Framework\Event\ManagerInterface">
        <plugin name="list_all_dispatched_event" type="Magento\MediaLounge\DisabledProductsRedirect\Observer\ListDispatchedEventsObserver" sortOrder="10" disabled="false"/>
    </type>
</config>